<nav class="navbar navbar-expand-lg " style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;" href="" routerLink="/">PELICULAS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#" routerLink="/cuenta">Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="" routerLink="/configuracion">Configuracion</a>
          </li>
        </ul>
    
      </div>
    </div>
  </nav>
  <body>
    <div class="movies">
      <section class="title">
        <h2>MIS PELICULAS</h2>
      </section>
      <section class="gallery">
        <div class="container">
          <div class="all row row-cols-4">
            <div class="card" *ngFor="let movie of movies" style="width: 17rem;">
              <img [src]="urlImg+movie.poster_path"  style="height: 18rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 2ch; color: black;">{{movie.original_title}}</h5>
                <p class="card-text"  style="font-size: 2ch; color: black;">{{movie.price}} $</p>
                <button type="button" class="btn btn-primary" (click)="loadMovie(movie)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Detalles</button>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  
    <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" *ngIf="movie">
          <div class="modal-header" style="display: flex; flex-direction: column;">
            <h2>{{movie.original_title}}</h2>
            <h4>{{movie.price}} $</h4>
           
          </div>
          <div class="modal-body">
           <ng-container *ngIf="bougth; else elseTemplate">
             <h3>Compra realizada correctamente</h3>
           </ng-container>
           <ng-template #elseTemplate>
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Ingrese su numero de cuenta:</label>
                <input type="text" [(ngModel)]="tranfer.accountOrigin.account" name="account" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Seleccione su banco:</label>
                
                  <select required  [(ngModel)]="tranfer.accountOrigin.organisation" name="organisation" class="form-control" style="width: 200px; height: 35px; margin-left: 10px;">
                    <option value="Banco de Pichincha">Banco de Pichincha</option>
                    <option value="Banco del Austro">Banco del Austro</option>
                  </select>
             
              </div>
            </form>
             
           </ng-template>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" *ngIf="!bougth" (click)="buy()" class="btn btn-primary">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  